---
version: 2
workflows:
  version: 2
  test:
    jobs:
      - validate_module

jobs:
  environment:
    # provider region is needed when running "terraform validate":
    # # The provider region is needed for validate
    AWS_DEFAULT_REGION: us-west-2
  validate_module:
    docker:
      - image: "hashicorp/terraform:0.12.18"
    steps:
      - checkout
      - run:
          name: Create fake license file
          command: mkdir -p ./work/ && touch ./work/fake_license.rli
      - run:
          name: Initialize the module
          command: terraform init -backend=false
      - run:
          name: Validate the module
          command: terraform validate
      - run:
          name: Check terraform formatting
          command: terraform fmt -list=true -write=false -diff -check -recursive
